{
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true
      },
      "baseUrl": "src",
      "keepClassNames": true,
      "paths": {
          "#core/*": [
              "./core/*"
          ]
      }
  }
}